@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');
@import "tailwindcss";

 html {
  scroll-behavior: smooth;
}

body {
font-family: 'Plus Jakarta Sans', sans-serif;

}



div::-webkit-scrollbar {
  display: none;
}
